In [6]:
import glob
import pandas as pd
import numpy as np

In [4]:
file_names = glob.glob('*.csv')
print(file_names)

['expt_detail_30883710_2.csv', 'expt_detail_30883710_0.csv', 'expt_detail_30883710_1.csv', 'expt_detail_36978456_0.csv', 'expt_detail_35864561_0.csv', 'expt_detail_27672397_1.csv', 'expt_detail_29966088_0.csv', 'expt_detail_35405676_0.csv', 'expt_detail_32325381_0.csv', 'expt_detail_10045738_0.csv', 'expt_detail_35733501_0.csv']

In [16]:
file_names[0]

'expt_detail_30883710_2.csv'

In [7]:
data = pd.read_csv(file_names[0])

In [8]:
data.head()

,app_id,ds,metric_id,exptid,groupid,groupname,uin,numerator,denominator,numerator_pre,denominator_pre,bucketsrc_hit,first_hit_ds,day_
0,30883710_pengleizhao_1706083762955,20230413,25467,30883710,30883712,A1,59291681315200000,0.00,1,0,0,59291681315200000,20230413,2024-01-24
1,30883710_pengleizhao_1706083762955,20230414,25467,30883710,30883716,B9,63071681401600000,14.56,1,0,0,63071681401600000,20230414,2024-01-24
2,30883710_pengleizhao_1706083762955,20230413,25467,30883710,30883713,B6,86571681315200000,49.09,1,0,0,86571681315200000,20230413,2024-01-24
3,30883710_pengleizhao_1706083762955,20230414,25467,30883710,30883717,B10,86831681401600000,0.00,1,0,0,86831681401600000,20230414,2024-01-24
4,30883710_pengleizhao_1706083762955,20230414,25467,30883710,30883713,B6,104301681401600000,0.00,1,0,0,104301681401600000,20230414,2024-01-24

In [9]:
data['metric'] = data['numerator'] / data['denominator']

In [15]:
def pop_std(x):
    return x.std(ddof=0)
data.groupby(['metric_id', 'groupid']).agg({'metric': ['mean', 'std', pop_std, 'min', 'median', 'max'], 'uin': ['count', 'nunique']})

                       metric                                             \
                         mean        std    pop_std  min median      max
metric_id groupid
22173     30883712   0.071586   0.257806   0.257801  0.0   0.00     1.00
          30883713   0.067913   0.251602   0.251597  0.0   0.00     1.00
          30883714   0.065754   0.247856   0.247852  0.0   0.00     1.00
          30883715   0.066740   0.249575   0.249571  0.0   0.00     1.00
          30883716   0.063935   0.244642   0.244638  0.0   0.00     1.00
          30883717   0.034753   0.183155   0.183152  0.0   0.00     1.00
          30883734   0.054168   0.226352   0.226349  0.0   0.00     1.00
          30883735   0.043511   0.204009   0.204005  0.0   0.00     1.00
25467     30883712  14.312864  30.335559  30.335020  0.0   0.57   888.12
          30883713  12.824046  26.599183  26.598707  0.0   0.58   860.12
          30883714  11.943632  27.037013  27.036535  0.0   0.49   806.44
          30883715  10.803793  24.343629  24.343193  0.0   0.52   656.12
          30883716  10.020981  21.868805  21.868419  0.0   0.55   719.17
          30883717   5.246465  16.571347  16.571047  0.0   0.00   574.88
          30883734  10.342972  28.842389  28.841868  0.0   0.00  1229.91
          30883735   9.271797  26.960644  26.960157  0.0   0.00   744.35
27348     30883712   0.085650   0.279856   0.279847  0.0   0.00     1.00
          30883713   0.077229   0.266963   0.266955  0.0   0.00     1.00
          30883714   0.067208   0.250390   0.250382  0.0   0.00     1.00
          30883715   0.058996   0.235625   0.235618  0.0   0.00     1.00
          30883716   0.051560   0.221144   0.221137  0.0   0.00     1.00
          30883717   0.024966   0.156025   0.156021  0.0   0.00     1.00
          30883734   0.056127   0.230174   0.230167  0.0   0.00     1.00
          30883735   0.048366   0.214545   0.214538  0.0   0.00     1.00
27357     30883712   0.699265   0.458592   0.458578  0.0   1.00     1.00
          30883713   0.708526   0.454456   0.454442  0.0   1.00     1.00
          30883714   0.719988   0.449019   0.449005  0.0   1.00     1.00
          30883715   0.732204   0.442824   0.442811  0.0   1.00     1.00
          30883716   0.732996   0.442408   0.442394  0.0   1.00     1.00
          30883717   0.820294   0.383954   0.383942  0.0   1.00     1.00
          30883734   0.766413   0.423126   0.423113  0.0   1.00     1.00
          30883735   0.793164   0.405050   0.405037  0.0   1.00     1.00

                      uin
                    count nunique
metric_id groupid
22173     30883712  29489   29489
          30883713  29302   29302
          30883714  29519   29519
          30883715  29203   29203
          30883716  29655   29655
          30883717  28890   28890
          30883734  28984   28984
          30883735  28958   28958
25467     30883712  28177   28177
          30883713  27969   27969
          30883714  28255   28255
          30883715  27933   27933
          30883716  28322   28322
          30883717  27566   27566
          30883734  27649   27649
          30883735  27645   27645
27348     30883712  15645   15645
          30883713  15823   15823
          30883714  16010   16010
          30883715  16001   16001
          30883716  16408   16408
          30883717  16783   16783
          30883734  15750   15750
          30883735  16003   16003
27357     30883712  15645   15645
          30883713  15823   15823
          30883714  16010   16010
          30883715  16001   16001
          30883716  16408   16408
          30883717  16783   16783
          30883734  15750   15750
          30883735  16003   16003

In [23]:
data[((data['metric_id'].isin([22173])) & (data['groupid'].isin([30883712])))]

,app_id,ds,metric_id,exptid,groupid,groupname,uin,numerator,denominator,numerator_pre,denominator_pre,bucketsrc_hit,first_hit_ds,day_,metric
7172,30883710_pengleizhao_1706083762955,20230413,22173,30883710,30883712,A1,67871681315200000,0.0,1,0,0,67871681315200000,20230413,2024-01-24,0.0
7176,30883710_pengleizhao_1706083762955,20230414,22173,30883710,30883712,A1,93511681401600000,0.0,1,0,0,93511681401600000,20230414,2024-01-24,0.0
7182,30883710_pengleizhao_1706083762955,20230414,22173,30883710,30883712,A1,207881681401600000,0.0,1,0,0,207881681401600000,20230414,2024-01-24,0.0
7184,30883710_pengleizhao_1706083762955,20230414,22173,30883710,30883712,A1,225111681315200000,1.0,1,0,0,225111681315200000,20230414,2024-01-24,1.0
7190,30883710_pengleizhao_1706083762955,20230414,22173,30883710,30883712,A1,272831681401600000,0.0,1,0,0,272831681401600000,20230414,2024-01-24,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
714340,30883710_pengleizhao_1706083762955,20230413,22173,30883710,30883712,A1,2920071681228800000,0.0,1,0,0,2920071681228800000,20230413,2024-01-24,0.0
714348,30883710_pengleizhao_1706083762955,20230414,22173,30883710,30883712,A1,3020811681315200000,0.0,1,0,0,3020811681315200000,20230414,2024-01-24,0.0
714351,30883710_pengleizhao_1706083762955,20230413,22173,30883710,30883712,A1,3077341681315200000,0.0,1,0,0,3077341681315200000,20230413,2024-01-24,0.0
714352,30883710_pengleizhao_1706083762955,20230414,22173,30883710,30883712,A1,3078011681315200000,0.0,1,0,0,3078011681315200000,20230414,2024-01-24,0.0
714358,30883710_pengleizhao_1706083762955,20230414,22173,30883710,30883712,A1,3172291681315200000,0.0,1,0,0,3172291681315200000,20230414,2024-01-24,0.0